h1 {
  color: hsl(318, 79%, 21%); 
  text-align: center;
  
}

p {
  color: hsl(318, 79%, 21%); 
}


a:hover {
  text-decoration: underline; /* Underline links on hover */
}

body {
  background-image: url(Screenshot_89.png);
}